/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Camul colors */
/* :root {
    --a: #000000;
    --a1: #282A3A;
    --b: #282A3A;
    --c: #82641f;
    --d: #d9ae69;
    --lnk: #ffdea9;
    --transtime: 250ms;
} */
/* :root {
    /*https: //colorhunt.co/palettes/popular*\/
    --a: #281722;
    --a1: #35242f;
    --b: #3F2E3E;
    --b1: #524351;
    --c: #A78295;
    --d: #EFE1D1;
    --lnk: #ffb163;
    --transtime: 250ms;
} */
:root {
    --a: #FEFAF6;
    --a1: #efe9d9;
    --b: #EADBC8;
    --b1: #091a33;
    --c: #DAC0A3;
    --d: #102c57;
    --lnk: #2568cc;
    --transtime: 250ms;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: CM;
    src: url('Cambria\ Math.ttf');
}

@font-face {
    font-family: SC;
    src: url('SourceCodePro-VariableFont_wght.ttf');
}

body {
    /* margin-top:50px; */
    width: 100%;
    background-color: var(--a);
    color: var(--d);
    font-family: SC;
    /* letter-spacing: 1px; */
}

.content::-webkit-scrollbar {
    /*hides scrollbar in chromium*/
    display: none;
}

.content {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 7%;
}

.content h1 {
    font-weight: 900;
    font-size: 2.2em;
    margin: 10px 60% 10px 10px;
    text-align: center;
    overflow: visible;
    white-space: nowrap;
}

.wrapper {
    padding-right: 21px;
    padding-bottom: 21px;
    padding-left: 10px;
    padding-top: 10px;
    overflow: visible !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    overflow-wrap: break-word;
    column-gap: max(4%, 40px);
    row-gap: 50px;
}

.wrapper div {
    background-color: var(--a1);
    transition-duration: var(--transtime);
    transition-property: background-color color;
    border-radius: 5px;
    /* border: 1px solid var(--d); */
    text-align: center;
    box-shadow: 10px 10px var(--c);
    box-shadow:
    7px 7px 0 var(--c),
    14px 14px 0 var(--d),
    21px 21px 0 var(--lnk);
    cursor: pointer;
    /* position: relative; */
}

.wrapper div:hover {
    /* filter: blur(5px); */
    box-shadow: 0px 0px 0px 7px var(--lnk);
}
.wrapper div:hover~ div {
    filter: blur(5px);
    /* box-shadow: 0px 0px 0px 7px var(--lnk); */
}
.wrapper div:has(~ div:hover) {
    filter: blur(5px);
}

.wrapper div h3 {
    font-weight: 600;
    padding: 10px;
    background-color: var(--d);
    color: var(--a);
    border-radius: 5px 5px 0px 0px;
}

.wrapper div p {
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    font-style: oblique;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wrapper div img {
    border-radius: 10%;
    height: 80px;
    margin-top:10px;
    margin-bottom:10px;
    border: 3px solid #0000;
    /* border:2px solid var(--d); */
}

button {
    color: var(--a);
    border-radius: 5px;
}

input[type="checkbox" i] {
    accent-color: var(--d);
}

/*Code*/
pre.code {
    background-color: var(--b1);
    /* filter: invert(0.2); */
    border-radius: 6px;
    white-space: nowrap;
    padding: 16px;
    display: block;
    color: #0F0;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
}

pre samp {
    color: #cfcfcf;
    font-weight: bold;
}

.pl-c {
    color: #8d8d8d
}

.pl-k {
    color: #ff5d52
}

.pl-s1 {
    color: #fff
}

.pl-c1 {
    color: #62b6ff
}

.pl-en {
    color: #d2a8ff
}

.pl-v {
    color: #ffa556
}

.pl-smi {
    color: #ffa556
}

.pl-kos {
    color: #fff
}

.sh-com {
    color: #6f767d
}

.sh-res {
    color: #c678dd;
    /* font-weight:bold */
}

.sh-var {
    color: #d0d4d9
}

.sh-att {
    color: #ff7b72
}

.sh-num {
    color: #79c0ff
}

.sh-op {
    color: #79c0ff
}

.sh-pun {
    color: #ffffff
}

.sh-con {
    color: #ffa657
}

.sh-str {
    color: #98c379
}

code {
    background-color: var(--b1);
    /* filter: invert(0.2); */
    color: var(--c);
    border-radius: 3px;
    font-family: consolas, monospace;
    font-weight: 100;
    padding: 0 3px;
}


.wrapper div hr {
    height: 0px;
    margin: 0;
    visibility: hidden;
}

e {
    height: 100%
}

/*TeX*/
mjx-container[jax="SVG"] svg a {
    fill: var(--lnk) !important;
    stroke: var(--lnk) !important;
}

text {
    fill: var(--lnk) !important;
}

.tikz {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Scroll*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--a1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--b);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--b1);
}